/*
    Upload facility

    Created on : 23-May-2015, 18:15:54
    Author     : kiriakos
*/

form.upload{
    
}

form.upload div input,
form.upload div label{
    display: inline;
}

form.upload div input[type=text]{
    border: none;
    
}