/*
    Basic HTML element styles
*/

body
{
    text-align: center;
    
}

/* overrides from base.css */
a, a:visited, a:active{
    color:gray
}
h1, h2, h3, h4, h5, h6
{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
}


#asset_content_container
{
    position: relative;
}